<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Aplikasi Restaurants Katalog dengan nama Raja Rasa">
    <title>Raja Rasa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#3d0c11"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/png" href="/Raja-Rasa.png">
    <meta name="theme-color" content="#DB0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  
    <link rel="manifest" href="./app.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  </head>

  <body>
    
    <header class="header">
      <a href="#mainContent" class="skip-link" tabindex="0">Menuju ke konten</a>
      <div class="header_inner">
        <h1 class="header_title" tabindex="0">Raja-Rasa.</h1>
      </div>

      <button id="menu" class="header__menu">☰</button>
      <nav id="drawer" class="nav">
        <div class="nav_list">
          <a href="#/home" class="nav_item">Home</a>
          <a href="#/like" class="nav_item">Favorite</a>
          <a href="https://www.linkedin.com/in/hyuga-dewanto-kojyro-45b434221/" target="_blank" class="nav_item">About</a>
        </div>
      </nav>
    </header>

    <div id="mainContent">
      <main id="mainContent">`
      </main>
    </div>
   

    <footer>
      <div class="sosmed">
        <a href="http://instagram.com" target="_blank" class="fa-brands fa-instagram"></a>
        <a href="http://instagram.com" target="_blank" class="fa-brands fa-linkedin-in"></a>
        <a href="http://instagram.com" target="_blank" class="fa-brands fa-github"></a>
      </div>
      <p>Copyright &copy 2023 - Raja Rasa</p>
      <p>Developed By <span class="spanFooter">Hyugenk</span> for Dicoding Submission</p>
    </footer>
  </body>

</html>
