* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #000000;
  background-color: rgb(247, 151, 151);
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}

button {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

/*skip content*/
.skip-link {
  display: flex;
  align-items: center;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: 99;
  background-color: white;
  font-size: 1em;
  padding: 3px;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  color: black;
  text-decoration: none;
  z-index: 100;
  min-height: 44px;
  min-width: 44px;
  margin-bottom: 100px;
}

.skip-link:focus {
  top: 0;
}


/*header*/
a {
  text-decoration: none;
  color: white;
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

div {
  display: block;
}

li {
  list-style: none;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}

header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #ae0b0b;
  position: -webkit-sticky;
  position: fixed;
  margin-bottom: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header_inner {
  margin-top: 0.5em;
  display: grid;
}

.header_title {
  display: flex;
  width: 10rem;
  text-align: center;
  line-height: 24px;
  align-items: center;
  margin-left: 2rem;
  color: white
}

.nav_list {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin-top: 0.7em;
  text-align: center;
  justify-content: center;
  font-weight: bold;
}

.nav_item {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  text-align: center;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 2rem;
}

.nav_item:hover {
  color: #140b04;
  
}




/*akhir dari header */

/* main*/

main {
  width: 100%;
  margin: 0 auto;
}

/*awal dari hero tag*/
.hero {
  display: flex;
  align-items: center;
  min-height: 624px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/hero-image_2.jpg");
  background-color: white;
  background-position: center;
  background-size: cover;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, rgb(247, 151, 151) 18%, rgba(0, 0, 0, 0) 30%);
}


.hero__inner {
  color: white;
  margin: 0 auto;
  max-width: auto;
}

.hero__title {
  font-weight: 500;
  font-size: 50px;
  opacity: 1;
}

.hero__tagline {
  margin-top: 16px;
  font-size: 30px;
  font-weight: 300;
}

/* akhir dari hero tagline */

#explore {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

#kosong {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

/* mulai content*/
.contents {
  width: 100%;
  margin: auto auto;
  padding: 32px;
}

#restaurants {
  margin: 32px auto auto;
  text-align: center;
}

.restaurant-item {
  margin: 16px 0;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
.restaurant_name{
  color: #424242;
  align-items: center;
}
.city {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #f13661;
  padding: 4px;
  color: rgb(0, 0, 0);
}
.rating {
  position: absolute;
  border-radius: 5px;
  top: 0px;
  right: 0px;
  background-color: #f13661;
  color: white;
  padding: 4px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 9);
}
.restaurant-item__content {
  padding: 16px 32px 32px 32px;
}

.restaurant__poster {
  width: 100%;
  max-height: 200px;
}


/*detail restaurants*/

.wrapper_details{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content_detail{
  border-style: solid;
  margin: 20px;
  background-color: rgb(177, 138, 138);
  border-radius: 8px;
  padding: 20px
}
.img_detail {
  width: 100%;
  position: relative;}

.restaurant__name {
  text-align: center;
}

.restaurant__menu {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.title_info{
  text-align: center;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  z-index: 100;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  
  font-size: 18px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}


footer {
  background-color: #ae0b0b;
  color: #ffffff;
  padding: 2rem 0;
  text-align: center;
  font-size: large;
  padding: 30px;
}

footer a {
  color: #ffffff;
  margin-left: 10px;
  margin-right: 10px;
  height: 45px;
}

footer p {
  height: 45px;
}

a.fa-instagram, a.fa-linkedin-in, a.fa-github {
  font-size: 44px;
  
}

.fa-instagram:hover, .fa-linkedin-in:hover, .fa-github:hover {
  font-size: 48px; 
  padding: 12px;
}

